@use "./views/index";
@use "./views/App";

@use "./components/Header";

@use "./components/Home";
@use "./components/Graphics";

@use "./components/ManagerDashboard";
@use "./components/WorkerDashBoard";

