.chartContainer {
  width: 90%;
  max-width: 100%;
  height: 250px;
  margin: 16px 0;
  padding: 16px;
  gap: 20px;
  border-radius: 16px;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-4px);
    background-color: rgba(255, 255, 255, 0.35);
    box-shadow: 6px 10px 25px rgba(6, 18, 48, 0.5);
  }

  canvas {
    width: 100% !important;
    height: auto !important;
    max-height: 400px; 
    border-radius: 12px;
  }
}

.chartGrid {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: 600px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

    .chartContainer {
      flex: 1 1 calc(50% - 20px);
    }
  }

  @media (min-width: 1024px) {
    .chartContainer {
      flex: 1 1 calc(33.33% - 20px);
    }
  }
}
