.chatArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 700px;
  align-items: center;
  max-width: 900px;
  margin: 40px auto;
   background-color: rgba(255, 255, 255, 0.7);
  border-radius: 24px;
  border: 2px solid var(--white);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  overflow: hidden;
  z-index: 2;
  animation: fadeIn 0.5s ease-in;
}

.messagesWindow {
  flex-grow: 1;
  padding: 30px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.message-item {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 16px 22px;
  border-radius: 20px;
  line-height: 1.6;
  font-size: 0.95em;
  color: var(--color-text-dark);
  animation: slideIn 0.5s ease forwards;

  strong {
    font-weight: var(--font-medium);
    margin-bottom: 4px;
    font-size: 0.85em;
    opacity: 0.7;
  }
}

.message-item.bot {
  align-self: flex-start;
  background-color: var(--white);
  border-top-left-radius: 6px;
}

.message-item.user {
  align-self: flex-end;
  background-color: #a8c5f0 ;
  border-top-right-radius: 6px;
}

.inputArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 30px;
  gap: 16px;
  background-color: var(--dark);
  border-top: 1px solid var(--dark);
}

.inputArea input[type="text"] {

  flex-grow: 1;
  width: 80%;
  padding: 14px 22px;
  border-radius: 30px;
  border: 1px solid rgba(6, 18, 48, 0.2);
  font-size: 1em;
  transition: all 0.3s ease;

  &:focus {
    outline: none;
    border-color: var(--color-primary);
    box-shadow: 0 0 0 3px rgba(66, 105, 210, 0.2);
  }
}

.submitButton {
  background-color: var(--dark);
  color: white;
  border: none;
  border-radius: 30px;
  padding: 12px 28px;
  font-weight: var(--font-medium);
  cursor: pointer;
  min-width: 100px;
  transition: all 0.3s ease;

  &:hover:not(:disabled) {
    transform: translateY(-3px) scale(1.03);
    box-shadow: 0 6px 20px rgba(6, 18, 48, 0.3);
  }

  &:disabled {
    background-color: rgba(100, 100, 100, 0.4);
    cursor: not-allowed;
  }
}

.dataTable{
  width: 100%;
  border-collapse: collapse;
  margin-top: 12px;
  font-size: 14px;
}

.dataTable th,
.dataTabletd {
  border: 1px solid rgba(6, 18, 48, 0.2);
  padding: 10px;
  text-align: left;
  background: rgba(255, 255, 255, 0.5);
}

.dataTable th {
  font-weight: var(--font-medium);
}

.dataTable tr:nth-child(even) {
  background-color: rgba(66, 105, 210, 0.05);
}

/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .message-item {
  max-width: 70%;
}
}