.home {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  h1 {
    font-size: 60px;
    font-weight: var(--font-medium);
    color: var(--white);
    text-align: start;
    max-width: 800px;
    position: relative;
    z-index: 2;
  }

  .logInButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 380px;
    padding: 10px 24px;
    font-size: 24px;
    font-weight: var(--font-medium);
    color: var(--dark);
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-shadow: 5px 5px 15px #384974;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    z-index: 2;

    &:hover {
      background-color: rgba(255, 255, 255, 0.35);
      transform: translateY(-5px);
    }

    &:active {
      transform: translateY(0);
    }
  }

  a {
    text-decoration: none;
  }
}
